<section class="text-center py-20 bg-gray-100 px-4">
    <h2 class="text-4xl font-bold mb-4">Estilo y comodidad para tus pies</h2>
    <p class="mb-6 text-lg">
        Zapatos para todas las ocasiones, ¡descúbrelo ahora!
    </p>
    <a
        href="#productos"
        class="bg-gray-900 text-white px-6 py-3 rounded hover:bg-gray-800 transition"
        >Ver productos</a
    >
</section>
