<section id="productos" class="py-20 px-4">
    <h2 class="text-center text-3xl font-bold mb-10">Productos destacados</h2>
    <div
        class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto"
    >
        <div class="border rounded shadow p-4 hover:shadow-xl transition-transform duration-500 ease-in-out transform hover:scale-105">
            <img
                src="/zapato_deportivo.png"
                alt="Zapato deportivo"
                class="w-full h-48 object-cover rounded"
            />
            <h3 class="mt-4 font-semibold text-xl">Zapato Deportivo</h3>
            <p>Comodidad para tu día a día</p>
        </div>
        <div class="border rounded shadow p-4 hover:shadow-xl transition-transfotm duration-500 ease-in-out transform hover:scale-105">
            <img
                src="/zapato_elegante.png"
                alt="Zapato elegante"
                class="w-full h-48 object-cover rounded"
            />
            <h3 class="mt-4 font-semibold text-xl">Zapato Elegante</h3>
            <p>Perfecto para ocasiones especiales</p>
        </div>
    </div>
</section>
